@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-gray-100 antialiased selection:bg-primary selection:text-black;
  font-family: 'Noto Sans SC', system-ui, sans-serif;
  font-weight: 500;
}

/* Geek Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full hover:bg-zinc-700 transition-colors;
}

/* Utility for grid background */
.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #27272a 1px, transparent 1px),
    linear-gradient(to bottom, #27272a 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}

.glass-panel {
  @apply bg-card/50 backdrop-blur-md border border-white/5;
}

code, pre {
  font-family: 'JetBrains Mono', 'Fira Code', monospace;
}
